.header {
    background-color: #2e4a3f; 
    color: #ffffff;
    padding: 2.5rem 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height:50px;
    z-index: 9999;

}
.title{
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-text {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32pt;
    font-weight: bold;
}

.title p {
    font-size: 14px;
    margin-top: 15px;
}

.feature {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 930px;
    max-width: 90%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
}

.feature-inner {
    max-width: 500px;
    margin-right: 40px;
}

.feature-inner h2 {
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    text-decoration: underline;
}

.feature-text h2::after {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background-color: #000000;
    margin-top: 20px;
}

.feature-text p {
    font-size: 15px;
    line-height: 28px;
    margin-top: 25px;
}

.footer {
    background-color: #22332a;
    color: #a3b8ab;
    text-align: center;
    padding: 2rem 1rem;
    font-size: 0.9rem;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    height:50px;
    z-index: 9999;
}
